html {
	height:100%; margin:0;
}

header {
	height:50px; background:lightcyan;
}

body { 
	height:100%; margin:0;
	display:flex; 
	flex-direction:column; 
}

footer {
	height:50px;
	margin-top:auto;
	text-align: center;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.top_image {
	background-image: url("/library/resources/img/library.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 400px;
}

.sign_in {
	padding-top: 200px;
}

.main_book_list {
	padding: 10px;
}

.book_info_image {
	width: 300px;
	height: 360px;
	border: solid 1px;
}

.book_info {
	margin-top: 100px;
}

.button_borrow {
	padding-top: 20px;
	padding-bottom: 20px;
}

.main_container {
	padding-bottom: 50px;
}
